In [3]:
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
from pandasql import sqldf
from sklearn import datasets

In [4]:
conn = sqlite3.connect("database")
cursor = conn.cursor()

In [3]:
f = io.open("database.sql", 'r', encoding="UTF-8")
sql = f.read()
cursor.executescript(sql)

OperationalError: table 'partidas' already exists

In [28]:
#1/1
A0 = """
    SELECT DISTINCT nome_jogador 
    FROM jogadores 
    WHERE numero_camisa = 14
    """

#1/1
A1 = """
    SELECT DISTINCT nome_jogador 
    FROM (jogadores NATURAL JOIN partidas) 
    WHERE iniciais_time = 'ITA' AND ano = 1994
    """

#1/1
A2 = """
    SELECT DISTINCT estadio 
    FROM (local NATURAL JOIN partidas) 
    WHERE ano = 1958
    """

#0.6/1
A3 = """
    SELECT DISTINCT nome_treinador 
    FROM (jogadores NATURAL JOIN partidas) 
    WHERE gols_mandante >= 7
    """

#1/1
A4 = """
    SELECT DISTINCT time_mandante 
    FROM (copasdomundo NATURAL JOIN partidas) 
    WHERE gols_marcados >=150
    """

#1/1
B1 = """
    SELECT DISTINCT iniciais_time, nome_treinador
    FROM partidas NATURAL JOIN jogadores
    WHERE partidas.ano = 1970 AND partidas.fase = 'Quartas de Final'
"""

#1/1
B2 = """
    SELECT DISTINCT id_partida, data_hora, ano 
    FROM partidas 
    WHERE fase = 'Final'
"""

#0
B5 = """
    SELECT cidade, estadio, publico, gols_mandante, gols_visitante
    FROM local NATURAL JOIN partidas
    WHERE ano = 2006 AND (gols_mandante >= 3 OR gols_visitante >= 3)  
"""

# 1/1
B7 = """
    SELECT DISTINCT nome_treinador, juiz, copasdomundo.ano 
    FROM (copasdomundo NATURAL JOIN partidas NATURAL JOIN jogadores NATURAL JOIN arbitragem) 
    WHERE copasdomundo.campeao = 'Brasil' AND fase = 'Final' AND iniciais_time = 'BRA' 
    ORDER BY copasdomundo.ano ASC
"""

#1/1
B9 = """
    SELECT DISTINCT juiz, data_hora 
    FROM (arbitragem NATURAL JOIN partidas) 
    WHERE ano = 2010 ORDER BY publico 
    DESC LIMIT 5
"""

In [29]:
consulta = pd.read_sql_query(B7,conn)
consulta

                  nome_treinador                     juiz   ano
0            FEOLA Vicente (BRA)     GUIGUE Maurice (FRA)  1958
1           MOREIRA Aymore (BRA)   LATYCHEV Nikolaj (URS)  1962
2            ZAGALLO Mario (BRA)   GLOECKNER Rudolf (GDR)  1970
3  PARREIRA Carlos Alberto (BRA)        PUHL Sandor (HUN)  1994
4      SCOLARI Luiz Felipe (BRA)  COLLINA Pierluigi (ITA)  2002